body {
	font-family: georgia;
	padding-top: 50px;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
	}

.titlepic {
	border-radius: 50%;
	max-width: 250px;
	border: 10px double #000
	}

.titlepicwrap {
	text-align: center;
}

.title {
	text-align: center;
	font-size: 150%;
	padding-top: 15px;
	padding-bottom: 10px;
	}
	
.latin {
	color: #fff; 
	font-size: 80%;
	font-family: "Times New Roman", Times, serif;
	background-color: #000;
	border: 10px solid #000;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}
	
.lineone {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 20px;
	}
	
.line {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 12px;
	}
	
.tumblr {
	padding: 10px;
	border: 1px solid #000;
	}
	
.smallpic {
	text-align: center;
	}
	
.firstsection {
	padding-bottom: 20px;
	}
	
.secondsection {
	padding-bottom: 10px;
	}
	
.indented {
	text-indent: 15px;
	}
	
.words {
	text-align: justify;
	font-size: 90%;
	max-width: 46%;
	display: inline-block;
	padding: 0 15px;
	border-left: 1px solid black;
	line-height: 150%;
	vertical-align: top;
	}
	
.two {
	border-right: 1px solid black;
	}
	
.notjustify {
	text-align: left;
	font-size: 90%;
	max-width: 46%;
	display: inline-block;
	padding: 0 15px;
	border-left: 1px solid black;
	line-height: 150%;
	vertical-align: top;
	}
	
.bigpic {
	text-align: center;
	width: 800px;
	padding: 10px;
	border: 1px solid #000;
	}
	
.title2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 120%;
	}




@media only screen and (max-device-width: 600px) {
	.words {
		max-width: 100%;
		border: none;
		font-size: 90%;
		}

	.lineone {
		font-size: 200%
		}
		
	.two {
		border: none;
		max-width: 100%;
		}
		
	.notjustify {
		border: none;
		max-width: 100%;
		padding-bottom: 50px;
		}
	
	.tumblr {
		width: 500px;
		}
		
	.firstsection {
		padding-bottom: 50px;
		}
		
	.secondsection {
		padding-top: 50px;
		}
		
	.title {
		font-size: 230%;
		}
	.latin {
		font-size: 120%;
		}
		
	}
